<noscript>
  <div class="alert alert-error pagination-centered">
    <p>Javascript is required for this page to operate correctly.</p>
    <p>Please enable javascript before continuing.</p>
  </div>
</noscript>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <h3>User</h3>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <% if controller.action_name == "edit" %>
    <div class="control-group">
      <%= f.label :current_password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :current_password %>
      <div class="muted">Needed to confirm changes</div>
      </div>
   </div>
  <% end %>

  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
      <% if controller.action_name == "edit" %>
        <div class="muted">Leave blank unless changing your password</div>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, 'Confirm Password', :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <%= render :partial => 'billing', :locals => { :f => f } %>

  <div class="control-group">
    <div class="controls">
      <%= f.submit (controller.action_name == "new" ? "Sign up" : "Update"), :class => "btn btn-large btn-inverse", :id => "user_submit" %>
    </div>
  </div>
<% end %>
