<div class="offset2">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= render :partial => 'form' %>
</div>

  <h3 class="pagination-centered">Cancel my account</h3>

  <div class="pagination-centered">
    <p>
      Jotting Journal isn't for everyone, we understand that. If you wish to cancel your account, just click the button below. You'll be asked to confirm the cancelation.
    </p>
    <p> <strong>Your data will be deleted</strong>. And you won't be able to retrieve it.</p>
  </div>

  <div class="pagination-centered">
    <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-large btn-inverse" %>
  </div>
</div>

<%= content_for :javascript do %>
  Stripe.setPublishableKey("<%= "#{ENV['STRIPE_API_KEY_PUBLIC']}" %>");
<% end %>
