<%= form_for @entry do |f| %>
  <p><%= f.text_area :contents, :class => "span8" %></p>
  <p>
    <span class="form-inline">
      <%= label_tag nil, check_box_tag(:attach_location?, '1', true, :id => "location_checkbox") + 'Attach Location?', :class => 'checkbox', :id=> "attach_location" %>
      <%= f.fields_for :entry_photo do |pf| %>
        <%= pf.file_field :photo %>
      <% end %>
    </span>
  </p>
  <%= hidden_field_tag :latitude %>
  <%= hidden_field_tag :longitude %>
  <p>
    <%= f.submit "Save", :class => "btn btn-inverse" %>
  </p>
<% end %>
