<%= form_for @entry do |f| %>
  <p><%= f.text_area :contents, :class => "span8" %></p>
  <span class="span10 form-inline">
    <table class="table table-condensed">
      <tr style="border: none;">
        <td class="span7" style="border: none;">
          <%= f.submit "Save", :class => "btn btn-inverse" %>
        </td>
        <td style="border: none;">
          <%= link_to content_tag(:i, '', :class => "icon-map-marker"), '#', :onclick => "handleLocationButton(event); return false;", :class => "btn #{@entry.has_location? ? 'btn-success' : ''}", :id => "location-button" %>
          <%= hidden_field_tag :attach_location, @entry.has_location?.to_s %>
          <%= hidden_field_tag :latitude, @entry.entry_location ? @entry.entry_location.latitude : nil %>
          <%= hidden_field_tag :longitude, @entry.entry_location ? @entry.entry_location.longitude : nil %>

          <%= f.fields_for :entry_photo, :html => { :id => "fileupload" } do |pf| %>
            <span class="btn fileinput-button">
              <%= content_tag(:i, '', :class => "icon-camera") %>
              <%= pf.file_field :photo %>
            </span>
          <% end %>
        </td>
      </tr>
    </table>
  </span>
<% end %>
