<%= form_for @entry do |f| %>
  <p><%= f.text_area :contents, :class => "span8" %></p>
  <span class="span10 form-inline">
    <table class="table table-condensed">
      <tr style="border: none;">
        <td style="border: none;">
          <%= f.submit "Save", :class => "btn btn-inverse" %>
        </td>
        <td style="border: none;">
          <noscript>Javascript needed for storing location.</noscript>
          <%= link_to content_tag(:i, '', :class => "icon-map-marker"), '#', :onclick => "handleLocationButton(event); return false;", :class => "btn btn-success", :id => "location-button" %>
          <%= hidden_field_tag :attach_location, true %>
          <%= hidden_field_tag :latitude %>
          <%= hidden_field_tag :longitude %>
        </td>
        <td style="border: none;">
          <%= f.fields_for :entry_photo, :html => { :id => "fileupload" } do |pf| %>
            <span class="btn fileinput-button">
              <%= content_tag(:i, '', :class => "icon-camera") %>
              <span>Add Photo</span>
              <%= pf.file_field :photo %>
            </span>
          <% end %>
        </td>
      </tr>
    </table>
  </span>
<% end %>
