<div id="entry-<%= entry.id %>">
  <h2><%= link_to entry.pretty_time, entry_path(entry) %></h2>
  <div>
    <%- if entry.has_photo? %>
      <%= image_tag entry.photo.thumb160.url, :class => "img-rounded pull-left", :style => 'padding-right: 5px;' %>
    <% end %>
    <%= simple_format h entry.shorten_contents %>
  </div>
  <div class="pull-right">
    <%= render :partial => "entry-buttons", :locals => { :entry => entry } %>
  </div>
  <div class="clearfix"></div>
  <hr>
</div>
