<h2><%= @entry.created_at.strftime("%B %d, %Y %I:%M%p") %></h2>
<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <% if @entry.location %>
      <%= link_to "#{@entry.location.city}, #{@entry.location.state}", "https://maps.google.com/?q=#{@entry.location.city},#{@entry.location.state}", :class => "btn" %>
    <% end %>
    <%= link_to_unless(@entry.is_favorite?, content_tag(:i, '', :class => "icon-star-empty", :id => "favorite_icon"), '#', :onclick => 'handle_favorite()', :class => "btn", :title => "Favorite", :id => "favorite") do |name|
      link_to(content_tag(:i, '', :class => "icon-star", :id => "favorite_icon"), '#', :onclick => 'handle_favorite()', :class => "btn", :title => "Unfavorite", :id => "favorite")
    end %>
    <%= link_to content_tag(:i, '', :class=> "icon-edit"), edit_entry_path(@entry), :class => "btn", :title => "Edit" %>
    <%= link_to content_tag(:i, '', :class=> "icon-trash"), @entry, :confirm => "Do you really want to delete this entry?", :method => :delete, :class => "btn", :title => "Delete" %>
  </div>
</div>
<hr>
<p><%= simple_format h @entry.contents %></p>
