<!DOCTYPE html>
<html>
  <head>
    <title>Jotting Journal - Your Life, Your Journal</title>
    <%= javascript_include_tag "https://js.stripe.com/v1/" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_tag(yield :javascript) %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to 'Jotting Journal', root_path, :class => "brand" %>
        <ul class="nav pull-right">
          <% unless current_user %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
          <li><%= link_to(current_user ? 'Logout' : 'Login', current_user ? destroy_user_session_path : new_user_session_path, :method => current_user ? 'delete' : 'get') %></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6 offset3 pagination-centered" id="messages">
        <% flash.each do |key, msg| %>
          <%= display_flash(key, msg) %>
        <% end %>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render :partial => "layouts/footer" %>
  </body>
</html>
