<!DOCTYPE html>
<html>
  <head>
    <title>Jot Journal - Your Life, Your Journal</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to 'Jot Journal', root_path, :class => "brand" %>
        <ul class="nav pull-right">
          <% if current_user %>
            <li><%= link_to 'New Entry', new_entry_path %></li>
          <% end %>
          <li><%= link_to(current_user ? 'Logout' : 'Login', current_user ? destroy_user_session_path : new_user_session_path, :method => current_user ? 'delete' : 'get') %></li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6 offset3 pagination-centered" id="messages">
        <% flash.each do |key, msg| %>
          <%= display_flash(key, msg) %>
        <% end %>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <%= render :partial => 'right-sidebar' %>
        </div>
        <div class="span8" id="entry-space">
          <%= yield %>
        </div>
     </div>
    </div>
    </body>
</html>
